extend layout
block content
  table.table
    thead
      tr
        th Type
        th Endpoint
    each e, i in envs
      tr(class=(i % 2 == 0) ? 'odd' : 'even')
        td 
          a(href='/env/#{e.type}') #{e.type}
        td #{e.endpoint}
        
